* {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
/*	-webkit-font-smoothing: antialiased;
*/}

body {
/*	background-color: #fff;
*/	height: 100%;
	background-color: #fff;
}

h1 {
	font-size: 33px;
}

h2 {
	font-size:15px;
}

.wrapper {
	max-width: 1107px;
	height: 100%;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
	text-align: center;
}

.sidebar {
	position: fixed;
	top:0;
	left: 0;
	width: 197px;
    height: 100%;
	background-color: #333;
	text-align: center;
}

.sidebar ul {
	padding-left: 0;
	margin-top: 50px;
}

.sidebar li {
	list-style: none;
}



.sidebar a {
	text-decoration: none;
	display: block;
	padding: 25px;
	color: rgba(255,255,255,0.6);
	border-bottom: 1px solid rgba(204, 204, 204, 0.3);
	font-weight: 900;
}

.sidebar a:hover {
	background-color: rgb(52,128,182);
	color: #fff;
}


#last-anchor {
	border-bottom: none;
}

.toggle {
	position: fixed;
	left: 200px;
	transition: color 0.7s ease-in-out,left 0.7s ease-in-out;
}


.toggle label {
	font-size: 30px;
	color: rgb(52,128,182);
	text-decoration: none;
	cursor: pointer;


}

input {
	display: none;
}
#thetoggler {
	display: none;
}

#thetoggler:checked + .wrapper .toggle label {
	color: #333;
	left: 25px;

}

#thetoggler:checked  + .wrapper .sidebar {
	left: -250px;
	transition:all 0.7s ease-in-out;
}

.wrapper .sidebar {
	transition:all 0.7s ease-in-out;
}

.sidebar img {
	border-radius: 50%;
	margin-top: 30px;
}

.sidebar h1 {
	font-weight: 900;
	color: #fff;
	margin-bottom: 0;
	margin-top: 10px;
}

.sidebar h2 {
	margin-top: 0;
	font-size: 10px;
	color: rgba(255,255,255,0.3);
}

.sidebar span {
	font-size: 10px;
	color: rgba(255,255,255,0.4);
}

#image-in-wrapper {
	height: 450px;
	max-width: 800px;
	margin-top: 30px;
}

.first-block {
	max-width: 90%;
	margin: 0 auto;
}

.first-block h1 {
	font-size: 35px;
	font-weight: 900;
	letter-spacing: 2px;
	margin-bottom: 0px;

}

.first-block h2 {
	font-size: 15px;
	color: #ccc;
	margin-top: 0px;
}

.first-block p {
	line-height: 2;
	color: #ccc;
	margin-top: 50px;
	margin-bottom: 70px;
}

strong {
	color: black;
}

.link-para {
	color: rgb(52,128,182);
	text-decoration: underline;
}

.first-block hr {
	background-color: rgba(204, 204, 204, 0.2);
	height: 2px;
	color: #ccc;
	border:none;

}

.second-block {
	max-width: 800px;
	margin: 50px auto 0 auto;
}

.second-block > ul li {
	list-style: none;
}

.second-block h1 {
	float: left;
	height: 100px;
	font-size: 20px;
	padding-right: 15px;
	padding-top: 25px;
	border-right: 1px solid #ccc;
	position: relative;
	color: black;
	bottom: 8px;
}

.blog-post {
	text-align: left;
	color: #ccc;
}

.blog-post h2, p {
	padding-left: 80px;


}

.blog-post h2 {
	color: #202020;
}

.blog-post p{
	line-height: 1.6;
}

@media(max-width: 640px) {
 .first-block > p {
 	padding-left: 0;
 }
}

.second-block > ul li {
	box-shadow:0 2px 0 -1px #ccc;
	padding-bottom: 20px;
}



.second-block > ul li:last-child {
	box-shadow: none;
	margin-bottom: 55px;
}

#last-hr {
	background-color: rgba(204, 204, 204, 0.2);
	height: 2px;
	color: #ccc;
	border:none;
	max-width: 955px;
}


footer p {
	font-size: 15px;
	margin-top: 70px;
	margin-bottom: 70px;
	line-height: 2;
	letter-spacing: 5px;
	color: #ccc;
}

footer > p span {
	font-weight: 900;
	font-size: 15px;
	color: rgb(52,128,182);
	text-decoration: overline;


}


















